@media (max-width: 991.98px) {
  .main-box {
    width: 70%;
  }
  .plate-no2 {
    padding-top: 0;
  }
}

@media (max-width: 767.98px) {
  .main-box {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .main-box {
    width: 95%;
    padding: 10px;
  }
  .contact-heading {
    font-size: 18px;
  }
  .plate-no {
    color: #333;
    font-size: 16px;
  }
  .cont-owner {
    font-size: 16px;
    font-weight: 600px;
  }
  .reasonflex {
    padding: 10px;
  }

  .thespecail_radio {
    height: auto;
    width: auto;
  }
  .messagebtnflex a {
    padding: 10px;
    font-size: 14px;
  }
  .messagebtnflex {
    margin: 14px 0;
  }
  .thecind {
    margin-right: 5px;
  }
  .plate-no2 {
    font-size: 16px;
    padding-top: 5px;
  }
  .plate-no2 span {
    font-size: 14px;
    padding: 2px 3px;
  }
}

@media (max-width: 365px) {
  .main-box {
    width: 100%;
  }
}

@media (max-width: 345px) {
  .thelist {
    font-size: 16px;
  }
}
